Adafruit-Blinka==8.2.0
adafruit-circuitpython-bme280==2.6.16
adafruit-circuitpython-busdevice==5.2.3
adafruit-circuitpython-requests==1.12.8
adafruit-circuitpython-typing==1.8.1
Adafruit-PlatformDetect==3.27.2
Adafruit-PureIO==1.1.9
certifi==2020.6.20
chardet==4.0.0
colorzero==1.1
distro==1.5.0
gpiozero==1.6.2
idna==2.10
pyftdi==0.54.0
pyserial==3.5
python-apt==2.2.1
pyusb==1.2.1
requests==2.25.1
rpi-ws281x==4.3.4
RPi.GPIO==0.7.0
six==1.16.0
spidev==3.5
ssh-import-id==5.10
sysv-ipc==1.1.0
toml==0.10.1
typing-extensions==4.3.0
urllib3==1.26.5